{% extends 'base.html.twig' %}

{% block title %}About{% endblock %}

{% block body %}
    <section class="hero">
        <div class="hero-body">
            <div class="container has-text-centered">
                <div class="columns is-8 is-variable ">
                    <div class="column is-half has-text-left">
                        <div class="content">
                            <h1>About</h1>
                            <blockquote>
                                As a team of developers we wanted to listen to YouTube songs stacked in playlist.
                                As group of smart people we wanted to listen to music without ads and pauses provided by Google.
                                So here we are with our solution.
                            </blockquote>
                            <h3>Project stack</h3>
                            <ul>
                                <li>PHP 7.4</li>
                                <li>Symfony 5.2</li>
                                <li>MariaDB 10.5</li>
                                <li>jQuery 3.6</li>
                                <li>Java in Script version ES5</li>
                                <li>Bulma 0.9.0</li>
                                <li>Doctrine 2.8</li>
                                <li>Twig 3.3</li>
                                <li>Docker 3.1</li>
                                <li>Nginx</li>
                            </ul>
                        </div>
                    </div>
                    <div class="column is-half has-text-left">
                        <div class="content">
                            <h1>Commands</h1>
                            <p>
                                Integration with slack provide commands to control music.
                            </p>
                            <table>
                                <thead>
                                <tr>
                                    <th>Command</th>
                                    <th>Action</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td><span class="tag is-black">/commands</span></td>
                                    <td>list commands</td>
                                </tr>
                                <tr>
                                    <td><span class="tag is-black">/play {{ 'playlist.realUrl'|trans }}</span></td>
                                    <td>play playlist, response with room URL</td>
                                </tr>
                                <tr>
                                    <td><span class="tag is-black">/song</span></td>
                                    <td>song name</td>
                                </tr>
                                <tr>
                                    <td>
                                        <span class="tag is-black">/skip</span>
{#                                        or#}
{#                                        <span class="tag is-black">/next</span>#}
                                    </td>
                                    <td>next song</td>
                                </tr>
                                <tr>
                                    <td><span class="tag is-black">/blame</span></td>
                                    <td>shows who added the song</td>
                                </tr>
                                <tr>
                                    <td><span class="tag is-black">/volup</span></td>
                                    <td>increases the volume</td>
                                </tr>
                                <tr>
                                    <td><span class="tag is-black">/voldown</span></td>
                                    <td>decrease volume</td>
                                </tr>
                                <tr>
                                    <td><span class="tag is-black">/start</span></td>
                                    <td>starts the song</td>
                                </tr>
                                <tr>
                                    <td><span class="tag is-black">/stop</span></td>
                                    <td>stops the song</td>
                                </tr>
                                <tr>
                                    <td><span class="tag is-black">/amount</span></td>
                                    <td>amount of songs in playlist</td>
                                </tr>
                                </tbody>
                            </table>
                            <h2>FAQ</h2>
                            <ol>
                                <li>
                                    Is it...? <br>
                                    Nope.
                                </li>
                                <li>
                                    How can I...? <br>
                                    You can't.
                                </li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
